body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 100);
    background-color: rgb(185, 200, 250);
    text-align: center;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ol.center
{
    display: table ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-color: blueviolet;
}
