@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*
{
    font-family: 'Noto Serif', serif;
    
}

body
{
    text-align: center;
    background: linear-gradient(to bottom, rgb(210, 240, 255) 0%, rgb(150, 240, 255) 100%);
    background-color: rgb(0, 240, 255);
    
}

.outer
{
    margin-left: 28%;
    margin-right: 28%;
    position: center;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;

    border-color: #1FBFB8;
    border: none;
    border-radius: 15px;

    background-color: rgb(150, 230, 250);
    
}

.inner
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 0%;

    position: center;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    border-color: #05716C;
    border: none;
    border-radius: 15px;

    text-align: justify;

    background-color: rgb(120, 220, 240);
}

.center
{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;

}

ol
{
    padding-left: 0%;
}

legend
{
    font-size: large;
    font-weight: bold;
}

select
{
    overflow-y: auto;
}

p.wrapmargin
{
    margin-left: 28%;
    margin-right: 28%;
}

a:link
{
    color: rgb(0, 15, 105);
    text-decoration: none;
}


a:visited
{
    color: #05716C;
    text-decoration: none;
}

a:hover
{
    color: #1FBFB8;
    text-decoration: none;
}

a:active
{
    color: purple;
    text-decoration: none;
}


.leftalign
{
    text-align: center;
}



.button
{
    background-color: rgb(210, 240, 255);

    border-radius: 50px;

    padding-left: 6px;
    padding-right: 6px;

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1%;
    margin-bottom: 1%;

    flex-wrap: nowrap;
    white-space: nowrap;
}

nav
{
    background-color: #1FBFB8;

    border-radius: 50px;

    margin-left: 28%;
    margin-right: 28%;

    padding-top: 0.01%;
    padding-bottom: 0.01%;

    background: linear-gradient(to bottom, rgb(30, 190, 185) 0%, rgb(130, 220, 240) 100%);
}

.medianav
{
    background-color: #1FBFB8;

    border-radius: 50px;

    margin-left: 41%;
    margin-right: 41%;

    padding-top: 0.01%;
    padding-bottom: 0.01%;

    background: linear-gradient(to bottom, rgb(30, 190, 185) 0%, rgb(130, 220, 240) 100%);
}

footer
{
    background-color: #1FBFB8;
    margin-left: 28%;
    margin-right: 28%;

    border-radius: 50px;

    background: linear-gradient(to bottom, rgb(30, 190, 185) 0%, rgb(130, 220, 240) 100%);
    
}

.poema
{
    
    border-color: black;
    border-width: 4px;
    border-style: dotted;

    text-align: left;
    text-justify: justify;

    padding-left: 30px;

    margin-right: 41%;
    margin-left: 41%;
}

#colspan2
{
    text-align: center;
}

img
{
    border: rgb(170, 240, 255);
    border-width: 5px;
    border-style: ridge;
}

iframe
{
    border: rgb(170, 240, 255);
    border-width: 5px;
    border-style: ridge;
}


table
{
    text-align: left;
    margin-left: 28%;
    margin-right: 28%;

}

tr
{
    background-color: rgb(150, 230, 250);
    padding: 8px;
    border-bottom: 2px solid rgb(30, 190, 185);
    width: 10%;
    text-align: center;
}

td
{
    padding: 6px;
    border-bottom: 2px solid rgb(30, 190, 185);
    width: 10%;
    text-align: center;
}

th
{
    background-color: rgb(60, 225, 255);
    padding: 8px;
    border-bottom: 2px solid rgb(150, 230, 250);
    width: 10%;
    text-align: center;
}

h1::first-letter
{
    color: #1FBFB8;
}