@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


*
{
    font-family: 'Noto Serif', serif;
}

body
{
    background-color: rgb(220, 240, 250);
    text-align: center;
}

h1, h2, h3
{
    color: #031163;
}

footer
{
    color: #031163;
}

#nomeform
{
    color: #031163;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ol.center
{
    display: table ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}

.outer
{
    margin-left: 27%;
    margin-right: 27%;
    position: center;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;

    border-color: #05716C;
}

.inner
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 0%;

    position: center;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    border-color: #05716C;
    text-align: justify;
}

ol
{
    padding-left: 0%;
}

th, td
{
    border: 1px solid black;
    border-color: #05716C;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    white-space: nowrap;
    text-align: left;
    width: fit-content;
}

table
{  
    border: 1px solid black;
    border-color: #05716C;

    margin-left: auto;
    margin-right: auto;
}

legend
{
    font-size: large;
    font-weight: bold;
}

select
{
    overflow-y: auto;
}

p.wrapmargin
{
    margin-left: 27%;
    margin-right: 27%;
}

a:visited
{
    color: #05716C;
}

a:hover
{
    color: #1FBFB8;
}

.introd:hover {content: 😀;}

.local:hover {content: 📌;}

.media:hover {content: 🎬;}

.info:hover {content: 📝;}

.quiz:hover {content: 🤓;}

.html5:hover {content: 📑;}
