@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    text-justify: distribute;
}

body {
    background: rgba(230, 255, 255, 1.0);
    background: -webkit-linear-gradient(bottom, rgba(230, 255, 255, 1.0), rgba(250, 255, 255, 1.0));
    background: -moz-linear-gradient(bottom, rgba(230, 255, 255, 1.0), rgba(250, 255, 255, 1.0));
    background: linear-gradient(to top, rgba(230, 255, 255, 1.0), rgba(250, 255, 255, 1.0));
    background-attachment: fixed;
}

.herotitle {
    color: rgb(255, 255, 255);
    font-size: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.3);
}

.herobg {
    background: none;
    background-color: rgba(230, 255, 255, 1.0);
}

.pink {
    color: rgb(255, 180, 255);
}

.lefttab {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 255, 255, 0.5);
    min-width: 55px;
    height: 100%;

    font-size: 0px;
    transition: font-size 0.3s, background-color 0.3s;

    padding: 10px;
    justify-content: center;
    align-items: center;
    color: black;
}

.lefttab:hover {
    font-size: 25px;
    background-color: rgba(230, 255, 255, 0.9);
}

.inspirational {
    z-index: 1;
}

.normal {
    font-size: 35px;
}

.video {
    position: fixed;
    object-position: center;
    z-index: -1;
}

.centeritems {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.blueting {
    background-color: rgba(230, 255, 255, 1.0);
    width: 100%;
    z-index: -2;
}

.wrapgood {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin: 0px 0px;
    z-index: 0;
}

nav a {
    white-space: nowrap;
    text-decoration: none;
    background-color: rgb(220, 235, 255);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    padding: 8px;
    margin: 4px 10px;
    color: black;

    box-shadow: 1px 1px 3px 1px rgba(20, 20, 20, 0.1);

    transition: color 0.05s, background-color 0.2s;
    z-index: 4;
}

.currentpage
{
    background-color: rgb(255, 180, 255);
    color: white;
}

nav a:hover {
    background-color: blueviolet;
    color: white;
}

h1, h2, h3, h4, p, table {
    margin: 20px 20px;
}

.firstpink::first-letter {
    color: rgb(255, 180, 255);
}

p {
    text-align: justify;
    text-justify: inter-word;
}

table {
    background-color: rgba(20, 20, 20, 0.5);
    margin: 20px 20px;
}

tr {
    background-color: rgb(215, 235, 255);
}

th {
    padding: 2px 5px;
}

td {
    background-color: aliceblue;
    text-align: center;
    padding: 2px 5px;
}

fieldset {
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 3px 1px rgba(20, 20, 20, 0.3);
}

fieldset fieldset {
    border: none;
    background-color: rgb(220, 235, 255);
    border-radius: 10px;
    padding: 40px;
    margin: 20px;
}

.center {
    float: center;
}

.topbanner
{
    display: flex;

    width: 100%;
    height: 50vh;
    background-color: aliceblue;

    justify-content: center;
    align-items: center;
}

.wideimage
{
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
}

.width100 {
    width: 100%;
}

.sobre
{
    position: absolute;
    top: 6px;
}

.capitais
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgba(230, 255, 255, 1.0);
    padding: 50px;
}

.capitais > div
{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(255, 180, 255);
    color: black;
}

.capitais img
{
    border-radius: 10px 0 0 10px;
    height: 100%;
    box-shadow: 1px 1px 5px gray;
}

.capitais div div:last-child
{
    width: 150px;
    background-color: rgb(220, 235, 255);
    padding: 10px;
    border-radius: 0 10px 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 5px gray;

    transition: color 0.05s, background-color 0.2s;
}

.capitais div div:last-child:hover {
    color: white;
    background-color: rgb(255, 180, 255);
}

.barracirculos
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 20px;


    background-color: aliceblue;
    transition: opacity 0.3s ease-in-out;

}

.barracirculos:hover
{
    opacity: 0;
}

.circulo1
{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    background-color: darkcyan;
    
}

.circulo2
{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    background-color: lightcoral;
    
}

.circulo3
{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    background-color: lightskyblue;
}

.circulo4
{
    width: 10vh;
    height: 10vh;

    border-radius: 50%;

    background-color: deeppink;
}

.imagemmaluca
{
    position: absolute;
    clip: rect(0px,1280px,500px,640px);
    z-index: 3;
}


.gridmain
{
    background-image: url(https://source.unsplash.com/JH_R66BihvA);
    background-repeat: repeat;
    background-size: cover;
}

.header
{   
    grid-area: header;
    background-color: rgba(230, 255, 255, 1.0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridmenu
{ 
    grid-area: menu; 
    background-color: aliceblue;
}
.main
{
    grid-area: main;
    background-color: azure;
    background-image: url(https://source.unsplash.com/sGRMspZmfPE);
    background-size: cover;
}
.ondas
{
    grid-area: ondas;
    background-color: lightyellow;
    background-image: url(https://source.unsplash.com/q9syX8-szoo);
    background-size: cover;
}
.footer
{
    grid-area: footer;
    background-color: blanchedalmond;
}

.grid-container
{
    display: grid;

    height: 926px;
    grid-template-columns: 15% 70% 1fr;
    grid-template-rows: 8% 1fr 5vh;

    grid-template-areas: 
    'header header header'
    'menu main ondas'
    'footer footer footer';

    grid-gap: 10px;
    padding: 10px;
}

@media only screen and (max-width: 1200px) {

    .grid-container
    {
        display: grid;
    
        height: 1000px;
        grid-template-columns: 1fr  75%;
        grid-template-rows: 15% 1fr 0.1fr 0.1fr;
    
        grid-template-areas: 
        'header header'
        'menu main'
        'ondas ondas'
        'footer footer';
    
        grid-gap: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width: 650px) {

    .grid-container
    {
        display: grid;
    
        height: 1000px;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: 20% 15% 55% 5% 5%;
    
        grid-template-areas: 
        'header header header'
        'menu menu menu'
        'main main main'
        'ondas ondas ondas'
        'footer footer footer';
    
        grid-gap: 10px;
        padding: 10px;
    }

    .herotitle {
        font-size: 55px;
    }

    .lefttab {
        padding: 0px;
    }

    .normal {
        font-size: 25px;
    }
}

@media only screen and (max-width: 440px) {

    .grid-container
    {
        display: grid;
    
        height: 1200px;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: 40% 10% 44% 3% 3%;
    
        grid-template-areas: 
        'header header header'
        'menu menu menu'
        'main main main'
        'ondas ondas ondas'
        'footer footer footer';
    
        grid-gap: 10px;
        padding: 10px;
    }

    .wrapgood {
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wrapgood a {
        width: 130px;
        margin: 3px;
    }

    .herotitle {
        font-size: 45px;
    }

    .lefttab {
        padding: 0px;
    }

    .normal {
        font-size: 25px;
    }
}

.grid-container > div
{
    outline-style: solid;
    outline-width: 1px;
    outline-color: gray;
    padding: 10px;
}

.boxtitle
{
    display: flex;
    justify-content: center;
}

.menu
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.menu > a
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    white-space: nowrap;

    box-sizing: border-box;
}