@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Serif&display=swap');


*
{
    /*font-family: 'Comfortaa', cursive, Courier, monospace;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main
{
    background-image: url(https://source.unsplash.com/JH_R66BihvA);
    background-size: cover;
}

h1
{
    font-size: 40px;
}

.div1
{
    display: flex;

    width: 100%;
    height: 50vh;
    background-color: #fcb67d;

    justify-content: center;
    align-items: center;
}

.div2
{
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
}

.div3
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: white;
    padding: 50px;
}

.div3 > div
{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 5px 5px 15px gray;
    margin: 10px;
}

.div3 img
{
    border-radius: 8px 0 0 8px;
    height: 100%;
}

.div3 div div:last-child
{
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divmaluco
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 20px;


    background-color: #fcb67d;

}

.divmaluco:hover
{
    display: none;
}

.circulo1
{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    background-color: darkcyan;
    
}

.circulo2
{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    background-color: lightcoral;
    
}

.circulo3
{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    background-color: lightskyblue;
}

.circulo4
{
    width: 10vh;
    height: 10vh;

    border-radius: 50%;

    background-color: deeppink;
}

.sobre
{
    position: absolute;
    top: 6px;
}


img
{
    width: 100%;
}

.imagemmaluca
{
    position: absolute;
    clip: rect(0px,60px,200px,0px);
    z-index: 3;
}

header
{
    position: sticky;
    display:flex;
    top: 0;
    background-color: orange;
    color: black;
    z-index: 5;

    justify-content: space-between;
}

nav a
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 1px;
    font-weight: 100;


    text-decoration: none;
    color: black;
}

nav a:hover
{
    background-color: #fcb67d;
    font-weight: bold;
}

.item1
{   
    grid-area: header;
    background-color: lightblue;
}
.item2
{ 
    grid-area: menu; 
    background-color: lightcyan;
}
.item3
{
    grid-area: main;
    /*background-color: azure;*/
    background-image: url(https://source.unsplash.com/sGRMspZmfPE);
    background-size: cover;
}
.item4
{
    grid-area: right;
    background-color: lightyellow;
    background-image: url(https://source.unsplash.com/q9syX8-szoo);
    background-size: cover;
}
.item5
{
    grid-area: footer;
    background-color: blanchedalmond;
}

.grid-container
{
    display: grid;

    height: 926px;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 8% 1fr 5vh;

    grid-template-areas: 
    'header header header'
    'menu main right'
    'footer footer footer';

    grid-gap: 20px;
    padding: 20px;
}

.grid-container div
{
    outline-style: solid;
    outline-width: 1px;
    padding: 10px;
    font-weight: bold;
}